body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* navbar */
.navbar{
    min-height: 5rem;
    height: auto;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}


@media (max-width: 767.98px) {
    .navbar .navbar-collapse{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .navbar .search-form{
        width: 100%;
    }

    .navbar .search-form .search-inp,
    .navbar .search-form .search-btn{
        width: 100%;
    }
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-social, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;

}
/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400 ;
}
.listing-link{
    text-decoration: none ;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* new page */
.btn-new{
    background-color: #fe424d !important;
    border: none !important;
}
/* edit btn */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* show img */
.show-img{
    height: 40vh;
    margin-bottom: 20px;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
.btns{
    display: flex;
    flex-wrap: wrap;
}

#map{
    height: 400px;
    width: 100%;
    max-width: 100%;
}

/* listings index filters */
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    margin-right: 0.5rem;
    opacity: 0.7;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}

.filter p{
    font-size: 0.8rem;
}

.tax-info{
    display: none;
}

.tax-toggle{
    border: 1px solid #a19a9658;
    border-radius: 1rem;
    min-height: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.card-body .card-text .ownr {
    font-weight: 800;
}

@media (max-width: 767.98px) {
    #map{
        height: 300px;
    }
    .show-img{
    height: 30vh;
}

    .filter{
        margin-right: 1rem;
    }
}
@media (min-width: 1200px) {
    .show-img{
    height: 50vh;
}
}